<h1>Fatty Burgers!</h1>

<h2>NOM NOM NOM</h2>
<h3>Eat all burgers until you die!</h3>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
        {{/unless}}
    {{/each}}
</ul>

<h3>All the burgers you finished!</h3>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/if}}
    {{/each}}
</ul>

<h3>Add a Burger</h3>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="devo">Hungry?</label><br>
    <input type="radio" name="devoured" value="0" checked> Hungry?!<br>
    <input type="radio" name="devoured" value="1"> Full
  </div>

  <button type="submit">Add Burger</button>
</form>