<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">Nom Nom Burgers!</h1>

    <p class="lead">I wonder if bacon thinks about me too.
      <br>
      When life throws you burgers, you eat em.
    </p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-5 my-2">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center">Eat all burgers until you die!</h3>
          <h4 class="text-center">Currently eatable</h4>
          <hr>
          <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>



    <div class="col-md-5 my-2">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center">All the burgers you devoured!</h3>
          <h4 class="text-center">Currently devoured</h4>
          <hr>
          <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 my-2 text-center">
      <div class="card">
        <div class="card-body">
          <h3>Add a Burger</h3>
          <hr>
          <form class="create-form">

            <div class="form-group">
              <label for="bu">Burger Name:</label>
              <input type="text" id="burg" name="name">
            </div>

            <div class="form-group">
              <label for="devo">Add this burger?</label><br>
              <input type="radio" name="devoured" value="0" checked> Yes! will eat later!<br>
              <input type="radio" name="devoured" value="1"> I already ate it!
            </div>

            <button type="submit" class="btn btn-primary btn-sm">Add Burger</button>
          </form>
        </div>
      </div>

    </div>
    <div class="col-md-4 my-2 text-center">
      <div class="card">
        <div class="card-body">
          <h3>Delete Burger</h3>
          <hr>
          <form class="delete-form">
            <div class="form-group">
              <select name="id" class="form-control">
                {{#each burgers}}
                  <option value="{{id}}">{{burger_name}}</option>
                {{/each}}
              </select>
              
            </div>
            <button type="submit" class="delete-button btn btn-primary btn-sm">Delete Burger</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>